---
interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}

const {
  title = 'Adoras Website <3',
  description = 'Adoras personal website, cv and portfolio 🌷',
  noindex = false,
} = Astro.props;

const author = 'Adora Laura Kalb';
const ogTitle = 'Adoras Website';
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content={author} />
<meta name="description" content={description} />

<meta property="og:title" content={ogTitle} />
<meta property="og:image" content="/images/social-card.png" />
<meta property="og:description" content={description} />

{noindex && <meta name="robots" content="noindex" />}

<meta name="generator" content={Astro.generator} />

<title>{title}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<link
  rel="preload"
  href="/fonts/open-sans-v35-latin-regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/kreon-v37-latin-regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
